<!DOCTYPE html>
<html>
<head>
  <title>CN LAB</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <h1>Admin</h1>
  <pre>
  <%= info %>
  </pre>
</body>

</html>
